{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>
            Список журналов
        </h1>
    </section>

    <section class="content container-fluid">

        {% include 'bridge/grid/custom_filter/custom_filter_grid.html.twig' %}
    </section>
{% endblock %}